.our-process
    position: relative
    &::before
        position: absolute
        content: ''
        width: 600px
        height: 600px
        right: -230px
        bottom: 50px
        background: linear-gradient(103.66deg, #176DAE 6.84%, #82E1E2 94.52%)
        filter: blur(342px)
    &::after
        position: absolute
        content: ''
        background: url('../assets/googleAds/process.png') no-repeat
        background-size: cover
        width: 400px
        height: 320px
        bottom: -80px
        right: 0
    &-card
        flex-basis: 50%
        margin-bottom: 90px
        padding: 0 25px
        z-index: 1
        &__hero
            position: relative
            padding: 90px 30px 50px 30px
            height: 100%
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: space-between
            &::before
                position: absolute
                content: ''
                top: 15px
                right: 60px
                background: rgba(23, 42, 80, 0.7)
                filter: blur(35px)
                width: 100px
                height: 70px
        &__icon
            position: absolute
            top: 0
            right: 10px
            transform: translateY(-40%)
        &:nth-child(1)
            & .card__bg
                transform: rotate(-5deg)
            & .our-process-card__icon
                transform: translateY(-40%) rotate(155deg)
        &:nth-child(2)
            & .card__bg
                transform: rotate(4deg)
            & .our-process-card__icon
                transform: translateY(-40%) rotate(12deg)
        &:nth-child(3)
            & .card__bg
                transform: rotate(3deg)
            & .our-process-card__icon
                transform: translateY(-40%) rotate(-170deg)
        &:nth-child(4)
            & .card__bg
                transform: rotate(-6deg)
        &:nth-child(5)
            & .our-process-card__hero
                position: relative
                &::after
                    content: ''
                    position: absolute
                    bottom: 0
                    right: 0
                    width: 106px
                    height: 106px
                    background: linear-gradient(103.66deg, #176DAE 6.84%, #82E1E2 94.52%)
                    border-radius: 50%
                    transform: rotate(178.02deg) translate(-50%, -50%)
            & .card__bg
                transform: rotate(6deg)
    &__title
        display: flex
        align-items: center
        font-family: 'Bebas Neue'
        & span
            font-weight: 400
            font-size: 27px
            line-height: 1
            background: linear-gradient(103.79deg, #176DAE 6.82%, #82E1E2 130.84%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            background-clip: text
            text-fill-color: transparent
            letter-spacing: 1px
    &__num
        font-size: 64px
        line-height: 1.2
        background: linear-gradient(103.79deg, #176DAE 6.82%, #82E1E2 130.84%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        margin-right: 10px
    &__text
        font-size: 17px
        line-height: 1.25
        color: $text-dark

.meta-ads-page .our-process
    &::after
        display: none
    &::before
        display: none
    &__big-design
        position: absolute
        background: url('../assets/metaAds/process.png') no-repeat
        background-size: cover
        width: 400px
        height: 400px
        left: 90px
        top: 30%
        mix-blend-mode: multiply
        transform: rotate(-5.5deg)
    &__small-design
        position: absolute
        background: url('../assets/metaAds/process.png') no-repeat
        background-size: cover
        width: 640px
        height: 640px
        right: -230px
        bottom: 0
        mix-blend-mode: multiply
        transform: rotate(-5.5deg)
    &__light
        position: absolute
        width: 900px
        height: 700px
        right: -300px
        top: 100px
        background: linear-gradient(103.66deg, #176DAE 6.84%, #82E1E2 94.52%)
        filter: blur(342px)
        border-radius: 20px
        transform: rotate(-20deg)

.tiktok-ads-page
    .our-process
        &::before
            display: none
        &::after
            display: none
        & .our-process-card
            &__hero
                padding-right: 50px
            &:nth-child(2)
                z-index: 0
                & .our-process-card__icon
                    transform: translateY(-40%) rotate(0deg)
            &:nth-child(3)
                z-index: 2
                & .our-process-card__icon
                    transform: translateY(-40%) rotate(-42deg)
            &:nth-child(4)
                z-index: 2
                & .our-process-card__icon
                    transform: translateY(-40%) rotate(0deg)
        &__big-design
            position: absolute
            background: url('../assets/tiktokAds/ball.png') no-repeat
            background-size: cover
            width: 350px
            height: 350px
            left: 150px
            top: 30%
            mix-blend-mode: multiply
            transform: rotate(-10deg)
        &__small-design
            position: absolute
            background: url('../assets/tiktokAds/ball.png') no-repeat
            background-size: cover
            width: 240px
            height: 240px
            right: 340px
            bottom: 0
            mix-blend-mode: multiply
            transform: rotate(42deg)
        &__light
            position: absolute
            width: 1280px
            height: 420px
            right: -300px
            top: 100px
            background: linear-gradient(103.66deg, #176DAE 6.84%, #82E1E2 94.52%)
            filter: blur(342px)
            transform: rotate(-20deg)
        &__list-bg
            position: absolute
            background: url('../assets/tiktokAds/process/bg.png') no-repeat
            background-size: cover
            width: 50vw
            height: 43vw
            top: 0
            right: calc(720px - 50vw - 90px)
            transform: translateY(-20%)
            z-index: 1
            pointer-events: none

@media screen and (max-width: 1400px)    
    .tiktok-ads-page
        .our-process
            &__list-bg
                right: - 90px

@media screen and (max-width: 1340px)
    .tiktok-ads-page
        .our-process
            &__list-bg
                width: 60vw
                height: 60vw

@media screen and (max-width: 1240px)
    .tiktok-ads-page
        .our-process
            &__list-bg
                width: 66vw
                height: 60vw

@media screen and (max-width: 1024px)
    .our-process-card
        padding: 0
        flex-basis: 100%
        margin-bottom: 80px
        &:nth-child(1)
            & .card__bg
                transform: rotate(-2deg)
        &:nth-child(2)
            & .card__bg
                transform: rotate(2deg)
        &:nth-child(3)
            margin-bottom: 80px
            & .card__bg
                transform: rotate(2deg)
        &:nth-child(4)
            margin-bottom: 80px
            & .card__bg
                transform: rotate(-2deg)
        &:nth-child(5)
            & .card__bg
                transform: rotate(2deg)
            & .our-process-card__hero
                &::after
                    bottom: 0
                    right: 26px
                    width: 58px
                    height: 58px
                    transform: rotate(178.02deg) translate(0%, -50%)
        &__hero
            padding: 80px 20px 45px 20px
    .our-process
        &::after
            bottom: 0px
    .tiktok-ads-page
        .our-process
            & .our-process-card
                &__hero
                    padding-right: 30px
                &:nth-child(2)
                    z-index: 2
                &:nth-child(3)
                    z-index: 0

@media screen and (max-width: 768px)
    .our-process
        &::after
            width: 200px
            height: 160px
            bottom: 50px
            right: -35px
    .tiktok-ads-page
        .our-process
            &__big-design
                width: 290px
                height: 290px
                top: -50px
                right: -100px
                left: auto
            &__small-design
                width: 125px
                height: 125px
                right: auto
                left: 0
            &__light
                width: 450px
                height: 1000px
                filter: blur(257px)
                transform: rotate(-13.42deg)
            &__list-bg
                right: auto
                left: 0
                top: 170px
                width: 280px
                height: 280px

@media screen and (max-width: 425px)
    .our-process
        &::before
            width: 340px
            height: 1500px
            left: -170px
            top: 0
            bottom: auto
            filter: blur(262px)
            transform: rotate(-20deg)
    .our-process-card
        &__title
            font-size: 25px
            margin-bottom: 20px
        &__text
            font-size: 15px
        &__icon
            width: 140px
        &:nth-child(1)
            & .card__bg
                transform: rotate(-5deg)
        &:nth-child(2)
            & .card__bg
                transform: rotate(4deg)
        &:nth-child(3)
            & .card__bg
                transform: rotate(3deg)
        &:nth-child(4)
            & .card__bg
                transform: rotate(-6deg)
        &:nth-child(4)
            & .card__bg
                transform: rotate(6deg)
    .meta-ads-page .our-process
        &__big-design
            display: none
        &__small-design
            display: none
        &__light
            width: 500px
            height: 1000px
            top: 300px
            right: -100px
            filter: blur(300px)
    .tiktok-ads-page
        .our-process
            &__list-bg
                top: 220px