*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  line-height: 1.7;
  font-size: 17px;
  font-family: 'Plus Jakarta Sans';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191B1F;
  overflow-x: hidden;
}

picture img {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 90px;
  max-width: 1440px;
}

.section {
  width: 100%;
}

.section__title-wrapper {
  max-width: 320px;
  margin-bottom: 60px;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Plus Jakarta Sans';
}

.primary-btn {
  background: #FFFFFF;
  border: 1px solid #fff;
  border-radius: 80px;
  padding: 12px 31px;
  color: #191B1F;
  font-weight: 500;
  font-size: 17px;
  -webkit-transition: color .3s ease, background .3s ease;
  transition: color .3s ease, background .3s ease;
}

.primary-btn:hover {
  background: transparent;
  color: #fff;
}

.btn-with-label {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 80px;
  padding: 6px 25px 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-with-label button {
  background: linear-gradient(103.79deg, #176DAE 6.82%, #82E1E2 130.84%);
  border-radius: 80px;
  padding: 10px 27px;
  color: #fff;
  margin-right: 16px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.btn-with-label button:is(:hover, :active) {
  color: #191B1F;
  background: #fff;
}

.btn-with-label div {
  font-size: 16px;
  line-height: 1.25;
  color: #BCBCBC;
}

.text {
  font-size: 17px;
  color: #fff;
}

.title {
  font-family: 'Bebas Neue';
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
}

.cards-list {
  padding-left: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.card {
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
}

.card__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #404246;
  border-radius: 10px;
  z-index: -1;
}

.d-none {
  display: none !important;
}

.no-events {
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

@media screen and (max-width: 1340px) {
  .cards-list {
    padding-left: 200px;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 0 60px;
  }
  .cards-list {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
  .title {
    font-size: 52px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 42px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 10px;
  }
  .title {
    font-size: 35px;
  }
}

.header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.header__hero {
  padding: 43px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 160px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  padding: 0 24px;
}

.header__item a {
  color: #BCBCBC;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header__item:hover a {
  color: #fff;
}

.header__btn {
  margin-left: auto;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .header__hero {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__btn {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background: rgba(25, 27, 31, 0.6);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
  }
  .header__hero {
    padding: 30px 0 20px;
  }
  .header__burger {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__btn {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header__hero {
    padding: 20px 0 10px;
  }
}

.burger {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 23px;
  height: 16px;
}

.burger__stick {
  position: absolute;
  height: 2px;
  width: 23px;
  background-color: #fff;
  -webkit-transition: width ease-in-out, -webkit-transform ease-in-out;
  transition: width ease-in-out, -webkit-transform ease-in-out;
  transition: transform ease-in-out, width ease-in-out;
  transition: transform ease-in-out, width ease-in-out, -webkit-transform ease-in-out;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.burger__stick:nth-child(1) {
  top: 0;
}

.burger__stick:nth-child(2), .burger__stick:nth-child(3), .burger__stick:nth-child(4) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.burger__stick:nth-child(5) {
  bottom: 0;
}

.burger.active .burger__stick:nth-child(even) {
  -webkit-transition-delay: var(--transition-duration);
          transition-delay: var(--transition-duration);
}

.burger:not(.active) .burger__stick:nth-child(odd) {
  -webkit-transition-delay: var(--transition-duration);
          transition-delay: var(--transition-duration);
}

.burger.active .burger__stick:nth-child(odd) {
  width: 0;
}

.burger.active .burger__stick:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active .burger__stick:nth-child(4) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.baner {
  position: relative;
  min-height: 100vh;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.baner::after {
  content: '';
  position: absolute;
  width: 490px;
  height: 620px;
  right: -140px;
  top: -300px;
  background: linear-gradient(103.66deg, #176DAE 6.84%, #82E1E2 94.52%);
  -webkit-filter: blur(232px);
          filter: blur(232px);
  border-radius: 20px;
  -webkit-transform: rotate(-19.96deg);
          transform: rotate(-19.96deg);
  z-index: -1;
}

.baner__img {
  position: absolute;
  top: 0;
  right: 0;
}

.baner__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.baner__title {
  margin-bottom: 20px;
  max-width: 580px;
}

.baner__subtitle {
  font-size: 20px;
  line-height: 1.25;
  color: #BCBCBC;
  margin-bottom: 50px;
  max-width: 510px;
}

@media screen and (max-width: 1440px) {
  .baner__img {
    width: 56%;
  }
}

@media screen and (max-width: 1024px) {
  .baner::after {
    right: -240px;
    top: -400px;
  }
  .baner__title {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .baner__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 580px) {
  .baner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .baner__img {
    position: relative;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    width: 90%;
  }
  .baner__title {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .baner__img {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .baner::after {
    width: 300px;
    height: 380px;
    right: -60px;
    top: -80px;
    -webkit-filter: blur(140px);
            filter: blur(140px);
  }
  .baner__btn button {
    font-size: 15px;
    min-width: 130px;
  }
  .baner__btn div {
    font-size: 14px;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #191B1F;
  z-index: 10;
  padding: 100px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform .8s ease-in-out;
  transition: opacity 1s ease-in-out, -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out, opacity 1s ease-in-out;
  transition: transform .8s ease-in-out, opacity 1s ease-in-out, -webkit-transform .8s ease-in-out;
  opacity: 0;
}

.menu::after {
  position: absolute;
  content: '';
  width: 490px;
  height: 620px;
  right: -270px;
  top: -110px;
  background: linear-gradient(103.66deg, #176DAE 6.84%, #82E1E2 94.52%);
  -webkit-filter: blur(500px);
          filter: blur(500px);
  border-radius: 12px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  z-index: -1;
}

.menu.opened {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  padding: 15px 0;
}

.menu__item a {
  color: #BCBCBC;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.menu__item:hover a {
  color: #fff;
}

.menu__btn {
  width: 100%;
}

.services-cards-list {
  width: calc(100% + 50px);
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.services-card {
  padding: 0 25px;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

.services-card__hero {
  position: relative;
  padding: 120px 17px 35px 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-card__icon {
  position: absolute;
  top: 0;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services-card__icon.distorted {
  -webkit-transform: translateY(-37%) rotate(-34deg);
          transform: translateY(-37%) rotate(-34deg);
}

.services-card__icon.knot {
  -webkit-transform: translateY(-50%) rotate(-43deg);
          transform: translateY(-50%) rotate(-43deg);
  right: -10px;
}

.services-card__icon.icosahedron {
  top: 15px;
}

.services-card__title {
  font-family: 'Bebas Neue';
  font-weight: 500;
  font-size: 27px;
  line-height: 1;
  background: linear-gradient(103.79deg, #176DAE 6.82%, #82E1E2 130.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 15px;
}

.services-card__text {
  font-size: 17px;
  line-height: 1.25;
  color: #191B1F;
  margin-bottom: 34px;
}

.services-card__btn {
  background: #FFFFFF;
  border: 1px solid #191B1F;
  border-radius: 80px;
  padding: 7px 20px;
  color: #191B1F;
}

.services-card__btn:hover {
  background: linear-gradient(103.12deg, #176DAE -7.88%, #82E1E2 103.78%);
  color: #fff;
  border: 1px solid #fff;
}

.services-card__btn:hover svg {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.services-card__btn:hover svg path {
  fill: #fff;
}

.services-card__btn svg {
  margin-left: 10px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.services-card:nth-child(1) .card__bg {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.services-card:nth-child(2) .card__bg {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.services-card:nth-child(3) .card__bg {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

@media screen and (max-width: 1240px) {
  .services__title-wrapper {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .services-cards-list {
    width: calc(100% + 24px);
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
  .services-card {
    padding: 0 12px;
  }
  .services-card__hero {
    padding: 100px 20px 35px 20px;
  }
  .services-card__icon {
    width: 140px;
  }
  .services-card:nth-child(1) .card__bg {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  .services-card:nth-child(2) .card__bg {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  .services-card:nth-child(3) .card__bg {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@media screen and (max-width: 768px) {
  .services__title-wrapper {
    margin-bottom: 60px;
  }
  .services-cards-list {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-card {
    padding: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 80px;
  }
  .services-card__hero {
    padding: 80px 20px 35px 20px;
  }
}

@media screen and (max-width: 600px) {
  .services-card__icon.knot {
    top: -12px;
  }
  .services-card__icon.icosahedron {
    top: 0;
  }
  .services-card:nth-child(1) .card__bg {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  .services-card:nth-child(2) .card__bg {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  .services-card:nth-child(3) .card__bg {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
}

@media screen and (max-width: 425px) {
  .services-card__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .services-card__text {
    font-size: 15px;
    margin-bottom: 60px;
  }
}
